.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	font-size: 3.2rem;
	font-family: var(--font-caveat);
	padding-bottom: 1.6rem;
}

.inputWrapper {
	margin: 20px;
}

.input {
	font-size: 2rem;
	padding: 1rem 2rem 1rem 6rem;
	border-radius: 2rem;
}

.buttonAdd {
	text-align: center;
	background-color: var(--orange);
	font-size: 2rem;
	padding: 1rem 4rem;
	margin-bottom: 2rem;
	border-radius: 2rem;
	border: none;
	transition: background-color 0.5s ease-in-out;
}

.buttonAdd:hover {
	cursor: pointer;
	background-color: var(--yellow);
}

.buttonWrapper {
	display: flex;
	justify-content: center;
}
