.footer {
	font-size: 1.2rem;
	padding: 1.4rem 2rem;
	margin-top: 2.4rem;
	background-color: var(--creamy-white);
	color: var(--dark-brown);
	text-align: center;
	box-shadow: 0 -0.03rem 1.5rem 0.5rem rgba(0, 0, 0, 0.3);
}
.icon {
	margin-top: 0.5rem;
	padding: 0.1rem 2rem;
	font-size: 1.8rem;
	color: var(--dark-brown);
}

@media (min-width: 1200px) {
	.footer {
		font-size: 1.6rem;
	}
	.icon {
		font-size: 2.2rem;
	}
}