.navBar {
	position: sticky;
	top: 0;
	height: 7.5rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--creamy-white);
	box-shadow: 0 -0.03rem 1.5rem 0.5rem rgba(0, 0, 0, 0.2);
	z-index: 20;
}

.linksContainer {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.link {
	font-family: var(--font-alkatra), sans-serif;
	font-size: 2.1rem;
	color: var(--dark90);
	height: 100%;
	padding: 0 2rem;
	position: relative;
	display: flex;
	align-items: center;
	text-decoration: none;
	letter-spacing: 0.1rem;
	border-radius: 1rem;
	transition: background-color 0.5s;
}

.link::after {
	content: '';
	position: absolute;
	height: 0.4rem;
	width: 0;
	left: 50%;
	transform: translate(-50%);
	bottom: 1rem;
	border-radius: 2rem;
	background: linear-gradient(45deg, #ffff66, #ffcc00, #ff9900, #ff6600);
	transition: 0.3s ease-in-out;
}

.link:not(.homeLinkLogo):hover,
.link.active {
	color: var(--dark80);
}
.link:not(.homeLinkLogo):hover::after,
.link.active::after {
	width: 70%;
}

.homeLinkLogo {
	margin-right: auto;
}

.title {
	font-family: var(--font-caveat), sans-serif;
	font-size: 2.5rem;
}
.iconStyle {
	font-size: 3rem;
	color: var(--dark90);
	cursor: pointer;
}

.sidebarActive {
	display: none;
}

.openSidebarButton,
.closeSidebarButton {
	display: none;
}

@media (max-width: 699px) {
	.linksContainer {
		flex-direction: column;
		align-items: flex-start;
		position: fixed;
		top: 0;
		right: -100%;
		z-index: 2;
		width: 30rem;
		background-color: rgba(280, 280, 280, 0.2);
		backdrop-filter: blur(2.5rem);
		box-shadow: -0.5rem 0 0.5rem rgba(182, 179, 179, 0.979);
		transition: right 0.8s ease-out;
	}
	@supports not ((backdrop-filter: blur(2.5rem))) {
		.sidebar {
			background-color: rgba(280, 280, 280, 0.9);
		}
	}
	.link {
		box-sizing: border-box;
		height: auto;
		width: 100%;
		padding: 2rem 3rem;
		justify-content: center;
		color: var(--dark90);
	}
	.link:not(.homeLinkLogo):hover::after,
	.link.active::after {
		width: 30%;
	}
	.link:not(.homeLinkLogo):hover,
	.link.active {
		color: var(--dark90);
	}

	.openSidebarButton,
	.closeSidebarButton {
		padding: 2rem;
		display: block;
	}
	.sidebarActive:checked ~ .linksContainer {
		right: 0;
	}
	.sidebarActive:checked ~ .overlay {
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
	}
}
@media (min-width: 1200px) {
	.linksContainer {
		justify-content: center;
	}
	.link {
		font-size: 2.3rem;
		padding: 0 2.3rem;
	}
	.homeLinkLogo {
		margin-right: 2rem;
	}
}
